body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    max-width: 2000px;
  }
  
  
  header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 114px;
    font-family: "Roboto Slab", serif;
    color: #262626;
    background-color: #CDDAEB;
    min-width: 280px;
    max-width: 1500px;
  }
  
  .logo-holder img { 
    width: 88px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  
  .site-header {
    font-size: 22px;
  }
  

  h2 {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 150px;
    margin-top: 0;
  }
  
  .content p {
    border: 2px outset lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: "Montserrat", sans-serif;
  }
  
  .five-day-forecast p {
    border: 2px outset lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-family: "Montserrat", sans-serif;
  }
  
  .navbar {
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  }
  
  .change {
    right: 0;
  }
  
  .hamburger-menu {
    width: 30px;
    height: 25px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: #15e6cdff;
    transition: all 0.8s;
  }
  
  .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }
  
  .change .line-2 {
    opacity: 0;
  }
  
  .change .line-3 {
    transform: rotateZ(405deg) translate(-8px, 6px);
  }
  
  .nav-list {
    text-align: right;
  }
  
  .nav-item {
    list-style: none;
    margin: 25px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .nav-link::before,
  .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #15e6cdff;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .nav-link::after {
    bottom: 0;
    transform-origin: right;
  }
  
  .nav-link::before {
    bottom: 0;
    transform-origin: left;
  }
  
  .nav-link::before,
  .nav-link::after {
    transform: scaleX(1);
  }
  
  main {
    width: 100%;
  }
  
  footer {
    background-color: #CDDAEB;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-family: "Roboto Slab", serif;
    min-width: 280px;
    max-width: 1500px;
  }
  
  @media only screen and (min-width: 850px) {
      .nav-list {
          display: flex;
      }
      .nav-list li {
          display: block; 
          flex: 1 1 auto;
      }
      .nav-list a {
          text-align: center;
      }
      .nav-list li:first-child {
          display: none;
    }
    .navbar {
      background-color: #262626;
      position: inherit;
      top: 0;
      right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
      transition: right 0.8s
    }
    .hamburger-menu {
      display: none;
    }
  }