body {
  font-family: "Ubuntu", sans-serif;
}

table {
  -webkit-box-shadow: 10px 10px 8px 1px rgba(98, 140, 166, 0.72);
  box-shadow: 10px 10px 8px 1px rgba(98, 140, 166, 0.72);
  width: 280px;
  text-align: center;
}

.title {
  height: 43px;
  background-color: #7fb9c2;
  color: black;
  font-size: 28px;
}

table,
th,
td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

thead {
  background-color: #628ca6;
  color: white;
}

tr,
th {
  height: 34px;
}

tbody:nth-child(even) {
  background-color: #e7f0ed;
}

tbody:nth-child(odd) {
  background-color: #e7ffed;
}

tfoot {
  background-color: #7fb9c2;
  font-size: 12px;
}
